.input-wrapper {
  display: flex;
  position: relative;

  .input {
    padding: 0.5rem 1rem;
    border: 1px solid $gray;
    border-radius: $border-radius;
    outline: none;
    transition: 0.25s all linear;
    width: 100%;
    resize: none;
    &:focus,
    &:focus-visible,
    &:focus-within {
      border: 1px solid $blue;
    }
  }

  &::before {
    position: absolute;
    content: attr(data-label);
    padding: 0 0.25rem;
    top: -9px;
    left: 10px;
    background: $white;
    color: $gray;
    transition: 0.25s all linear;
    pointer-events: none;
  }

  &:focus-within {
    &::before {
      color: $blue;
    }
  }

  .error {
    color: $red;
    margin-left: 10px;
  }
}
