@import "topbar";
@import "sidebar";
@import "footer";

.layout-main {
  display: flex;
  flex-direction: column;
  .basic-layout {
    display: flex;
    min-height: calc(100vh - #{$topbar-height});
    width: 100%;
    
    .content-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      flex: 1;
      .content {
        display: flex;
        flex-direction: column;
        padding: 0;
        flex: 1;
      }
    }
  }
}
