.sidebar {
  width: 320px;
  z-index: 2;
  background: $white;
  border-right: 1px solid $light-gray;
  & > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid $light-gray;
    position: relative;
    height: 50px;
    .controls {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      * {
        font-size: 16px;
        color: $primary;
        cursor: pointer;
        &:hover {
          color: $dark-primary;
        }
      }
    }
  }
  .rooms {
    display: flex;
    flex-direction: column;
    .room {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      * {
        cursor: pointer;
      }

      & > .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & > .name {
          color: $primary;
        }
        & > .delete-chat {
          transition: 0.125s all linear;
          color: $gray;
          &:hover {
            color: $primary;
          }
        }
      }

      padding: 1rem;
      border-bottom: 1px solid $light-gray;
      transition: 0.125s all linear;

      &.active,
      &:hover {
        background-color: rgba($primary, 0.125);
      }
    }
  }
}
