@import "topbar";

.chat-window {
  flex: 1;
  .block {
    display: flex;
    flex-direction: column;
    height: 100%;
    .messages {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow-y: scroll;
      max-height: calc(100vh - 50px - 1rem - 50px - 1rem);
      padding: 1rem;
      padding-bottom: 0;
      background: $light-gray;

      .message {
        width: 100%;
        max-width: 375px;
        padding: 1rem;
        border-radius: $border-radius-smooth;
        background: $black;
        margin-bottom: 1rem;
        position: relative;

        &::before {
          position: absolute;
          content: "";
          z-index: 0;
          top: 50%;
          left: 0;
          transform: translateY(-50%) translateX(-50%) rotate(45deg);
          width: 1rem;
          height: 1rem;
          background: $black;
        }

        .contents {
          margin-bottom: 0.25rem;
          color: $white;
          z-index: 1;
        }
        .creation-date {
          color: $white;
          font-size: 0.7rem;
          z-index: 1;
        }

        &.my {
          background: linear-gradient($darker-primary 0%, $primary 100%);
          background-attachment: fixed;
          margin-left: auto;
          &::before {
            left: 100%;
            background: linear-gradient($darker-primary 0%, $primary 100%);
            background-attachment: fixed;
          }
        }
      }
    }

    .new-message {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      border-top: 1px solid $light-gray;
      .input-wrapper {
        width: 100%;
      }
      .send {
        font-size: 24px;
        color: rgba($primary, 0.5);
        cursor: pointer;
        margin: 0 1rem;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
